[project]
	description = Its A Wash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Henry Yi (henryyi)
[access "refs/for/refs/*"]
	read = group user/Henry Yi (henryyi)
	push = group user/Henry Yi (henryyi)
	label-Code-Review = -2..+2 group user/Henry Yi (henryyi)
	label-Verified = -1..+1 group user/Henry Yi (henryyi)
	rebase = group user/Henry Yi (henryyi)
	removeReviewer = group user/Henry Yi (henryyi)
	submit = group user/Henry Yi (henryyi)
[access "refs/heads/*"]
	read = group user/Henry Yi (henryyi)
	create = group user/Henry Yi (henryyi)
	push = +force group user/Henry Yi (henryyi)
	pushMerge = group user/Henry Yi (henryyi)
[access "refs/tags/*"]
	push = +force group user/Henry Yi (henryyi)
	pushTag = group user/Henry Yi (henryyi)
	pushSignedTag = group user/Henry Yi (henryyi)
